$custom-green-darker: #60C179 !default;
$custom-green-light: #87CC96 !default;
$custom-gray: #CCCCCC !default;
$custom-gray-darken: #666666 !default;
$custom-black: #353535 !default;
$custom-orange: #F7C97C !default;